/babel.cfg
/build/
/CONTRIBUTING.md
/customer.sqlite
/debug.py
/dist/
/docker-compose.yaml
/Dockerfile
/.dockerignore
/.flake8
/.git/
/.gitignore
/gunicorn-debug.sh
/LICENSE
/maskdb/__pycache__/
/maskdb/translations/de/LC_MESSAGES/messages.mo
/maskdb.egg-info
/messages.pot
/Pipfile
/Pipfile.lock
/__pycache__
/.pylintrc
/README.md
/requirements-devel.txt
/requirements.txt
/setup.py
/.style.yapf
/.venv/
